{% extends 'base.html' %}
{% block content %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Summary</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Summary</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table id="myDataTable1" class="table table-striped table-bordered bulk_action" style="width:100%">
                      <thead>
                        <tr>
                          <th>
							 <th><input type="checkbox" id="bulk_action" ></th>
						  </th>
                            <th>Quote ID</th>
                            <th>Cloud Desk Specialist</th>
                            <th>Cloud Term (Months)</th>
                            <th>Hosting Location</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for i in form %}
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" ></th>
						  </td>
                         <td> <a href="{% url 'detail' i.id %}">{{i.id}}</a></td>
                          <td>{{i.cloudDeskSpecialist}}</td>
                          <td>{{i.cloudTermMonths}}</td>
                          <td>{{i.location}}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_quote' i.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_quote' i.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
{% endblock %}