{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

<style>
    div {
      color: black;
    }

    #table_style {
      table-layout: auto;
      width: 80%;
    }

    #table_style2 {
      table-layout: auto;
      width: 80%;
    }
    #table_style3 {
      table-layout: auto;
      width: 80%;
    }

    #check {
      table-layout: fixed;
      width: 50%;
    }

    #table_style, th, td {
      border: 1px solid black;

    }

    #top_row th {
      text-align: left;
      background-color: #4CAF50;
      color: white;
     }

     #top_row2 th {
      text-align: left;
      background-color: #4CAF50;
      color: white;
     }

     #top_row3 th {
      text-align: left;
      background-color: #4CAF50;
      color: white;
     }

     #row1 {
      text-align: left;
      background-color: #4CAF50;
      color: white;
      table-layout: auto;
     }

    .row3 {
      text-align: left;
      background-color: #edc37e;
      color: black;
      font-weight: normal;
     }

    .row4 {
    font-weight: normal;
    background-color: white;
    }

    .row5 {
      text-align: left;
      background-color: #3b64c4;
      color: white;
      font-weight: normal;
     }

    .row6 {
      text-align: left;
      background-color: #4CAF50;
      color: black;
      font-weight: normal;
      }

    .row7 {
      text-align: left;
      background-color: #c47d3b;
      color: black;
      font-weight: normal;
      }4

    #table_style tr:nth-child(even){background-color: #f2f2f2;}
    #table_style tr:hover {background-color: #ddd;}
    #row2:nth-child(even){background-color: #f2f2f2;}
    #row2:hover {background-color: #ddd;}
    #table_style2 tr:nth-child(even){background-color: #f2f2f2;}
    #table_style2 tr:hover {background-color: #ddd;}
    #table_style3 tr:nth-child(even){background-color: #f2f2f2;}
    #table_style3 tr:hover {background-color: #ddd;}

    .note {
      position: relative;
      border-color: #52E052;
      background: #E9FBE9;
      overflow: auto;
      margin: 1em auto;
      padding: .5em;
      border: .5em;
      border-left-style: solid;
      page-break-inside: avoid;
      text-transform: uppercase;
      display: block;

    }color: hsl(120, 70%, 30%);

    th {
      padding: 1px;
    }
  </style>
<style>

    div {
    color: #4a4a56;
    font-size:11px;
    font-weight: bold;

    }


    #sfdcload {
        border-radius: 8px;
        transition-duration: 0.4s;
        padding: 1.5px 20px;
        background-color: #008CBA;
        color: white;
        display: inline-block;
    }

    #sfdcload:hover {
          background-color: #4CAF50; /* Green */
          color: white;
    }

    #backgr {
    background-color: rgb(252, 243, 207);
    }

     label {
        float: left;
        width: 200px;
        padding-right: 24px;
        }


    input[type=text], select, textarea  {
      width: 60%;
      padding: 1.5px 8px;
      border: 1px solid black;
      margin: 4px 0;
      box-sizing: border-box;
    }
    input[type=url]{
      width: 60%;
      padding: 1.5px 8px;
      border: 1px solid black;
      margin: 4px 0;

    }

    #notesStyle {
    font-size:11px;
    color:#218F8F;
    }

    #info_pop {
    background-color: #008CBA;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 8px;
    border: 0px solid green;
    }

</style>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Quote Creation & Cost Calculation </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Logout</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">New Quote</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="x_content">

                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Add Quote</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cost Summary</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">

                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <!-- Inputs Panel -->
            <div class="x_panel">
              <div class="x_title">
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br />
                                <!-- Form starts here-->
              <form action="#" id="quoteinput" data-location-url="{% url 'ajax_load_location' %}" class="form-horizontal form-label-left" method='POST'> {% csrf_token %}
                <div class="card card-collapsable">
                    <div class="card-header"><h6 class="m-0 font-weight-bold text-info">1. Inputs</h6></div>
                        <div class="card-body">
                          <div class="form-group row">

                      <label class="col-sm-2 col-form-label">Cloud Desk Specialist</label>
                        <div class="col-sm-4">
                            {% render_field form.cloudDeskSpecialist %}</div>

                      <label class="col-sm-2 col-form-label">Cloud Term (Months)</label>
                        <div class="col-sm-4">
                          {% render_field form.cloudTermMonths placeholder='' %}</div>

                       <label class="col-sm-2 col-form-label">Cloud Margin</label>
                        <div class="col-sm-4">
                          {% render_field form.cloudMargin placeholder='' %}</div>

                       <label class="col-sm-2 col-form-label">Local Currency</label>
                        <div class="col-sm-4">
                          {% render_field form.localCurrency placeholder='' %}</div>

                          </div></div>
                  <div class="card-header"><h6 class="m-0 font-weight-bold text-info">2. Hosting</h6></div>
                        <div class="card-body">
                          <div class="form-group row">

                      <label class="col-sm-2 col-form-label">Hosting Provider</label>
                        <div class="col-sm-4">
                            {% render_field form.hostingProvider %}</div>

                      <label class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-4">
                            {% render_field form.location %}</div>

                      <label class="col-sm-2 col-form-label">Mutliple active regions?</label>
                        <div class="col-sm-4">
                            {% render_field form.multipleActiveRegions%}</div>

                                                            <br><br><br>


                       <div class="col-sm-10">
                      <input class="btn btn-success" type="submit" value="Save">
                        </div>
                          </div></div></div>
            </form>
                  <div class="card-body">
                                <table id="table_style2">
                              <thead style="">
                                <tr id="top_row2">
                                  <th scope="col">Cloud Desk Manager</th>
                                  <th scope="col">Total Cost</th>
                                  <th scope="col">Hosting Location</th>
                                </tr>
                              </thead>
                              <tbody>
                             {% for i in objects %}
                                <tr>
                                  <th scope="row" class="row3">{{ i.cloudDeskSpecialist }}</th>
                                  <td>{{ i.get_cpsCalculatedCost }}</td>
                                  <td>{{ i.location }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table><br>
                          </div>
                               <!-- Form ends here -->
              </div>
            </div></div>
              <!-- End of Inputs Panel -->

              <!-- Hosting Panel -->

              <!-- End of Hosting Panel -->


                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- Detail view starts here -->
                          <div class="card-body">
                                <table id="table_style">
                              <thead style="">
                                <tr id="top_row">
                                  <th scope="col">Indicator</th>
                                  <th scope="col">Term Cost</th>
                                  <th scope="col">Margin</th>
                                  <th scope="col">Term price (excl.APA)</th>
                                  <th scope="col">Owner</th>
                                  <th scope="col">Salesforce Opportunity URL</th>
                                  <th scope="col">Delivery Period</th>
                                  <th scope="col">Payment Period</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Service Type</th>
                                    <th scope="col">Explanation</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">cid</th>
                                    <th scope="col">rid</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for i in objects %}
                                <tr>
                                  <th scope="row" class="row3">Partner Referral Fee</th>
                                  <td>{{ i.get_cpsCalculatedCost }}</td>
                                  <td>{{ i.location }}</td>
                                    <td></td><td></td><td></td><td></td><td>{{ i.cloudTermMonths }}</td><td></td><td></td><td></td><td></td><td></td><td></td>
                                {% endfor %}
                                </tr>

                                <tr>
                                    <th scope="row" class="row3">Subscription/SaaS Software, OT</th>

                                  <td>{{ i.get_cpsCalculatedCost }}</td>
                                  <td>{{ i.location }}</td>
                                    <td></td><td></td><td></td><td></td><td>{{ i.cloudTermMonths }}</td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>

                                <tr>
                                    <th scope="row" class="row3">Subscription/SaaS Software, 3rd party</th>

                                  <td>{{ i.get_cpsCalculatedCost }}</td>
                                  <td>{{ i.location }}</td>
                                    <td></td><td></td><td></td><td></td><td>{{ i.cloudTermMonths }}</td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>

                                <tr>
                                    <th scope="row" class="row3">Perpetual Software Licence, OT</th>
                                  <td>{{ i.get_cpsCalculatedCost }}</td>
                                  <td>{{ i.location }}</td>
                                    <td></td><td></td><td></td><td></td><td>{{ i.cloudTermMonths }}</td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                              </tbody>
                            </table><br>
                          </div>
                          <!-- Detail view ends here -->
                      </div>
                    </div>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


</body>
{% endblock %}


