<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #edit_company {
            cursor: pointer;
            cursor: hand;
            }
    </style>
</head>
<body>

    <h1>Welcome Neo!</h1>
    <div class="col-sm-9">
					<label for="company" class="control-label">Company</label>
					<span style="width:100px;height:30px">
						{{ form.group_id }}


							<a href="{% url 'create' %}" id="add_company" class="fkey1"
								onclick="return showAddPopup(this);"><img
									src="{% static 'OpenText/OpenText Logo/icon-addlink.svg' %}"></a>
                            <a href="{% url 'edit' %}" id="edit_company" class="fkey2"
                                onclick="return showAddPopup(this);"><img
									src="{% static 'OpenText/OpenText Logo/icon-changelink.svg' %}"></a>

                </span>
                <div class="col-sm-10">
                  <input src="#" class="btn btn-success" type="submit" value="Save">
                    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        $("#add_company, #edit_company").click(function () {
            localStorage.removeItem("companyData");
            })

</script>
<script>

function showAddPopup(triggeringLink, title = "Add Form", h = 500, w = 800) {
    var name = triggeringLink.id.replace(/^add_/, '');
    console.log("in add form")
    url = triggeringLink.href;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
    var left = ((width / 2) - (w / 2));
    var top = ((height / 2) - (h / 2));
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    if (window.focus) {
        newWindow.focus();
    }
    return false;
}
</script>
<script>
    $(document).ready(function() {
        {% if is_create %}
        $item_data_set = []; //array to store the itmes
        {% else %}
        $item_data_set = JSON.parse('{{saleDtl_item_set_json | escapejs}}');
        fill_item_table($item_data_set);
        $uid = $item_data_set.length;
        {% endif %}

        $("#id_supplier_id").attr("value", "{{instance.supplier_id.name}}");
        {% if is_create %}
            $("#id_supplier_id").focus();

            $("#id_doc_dt").removeAttr("type");
            $("#id_doc_dt").datepicker();
            $("#id_supp_chal_dt").datepicker();
        {% endif %}

        {% if is_retrieve %}
            $("select").attr("disabled", true);

            $("#search_inv_input").attr("readonly", false);
            $("#search").click(function(){
                $("#purchase_inv_search").modal("show");
                $("#search_inv_input").focus();
                $("#search_inv_input").val("");
                 $("#search_error").css("display", "none");
            })

            $("#search_inv_input").focus(function(){
                $(document).on('keypress', "#search_inv_input", function (e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        $("#search_inv_btn").click();
                    }
                })
            });
            $("#search_inv_input").focus(function(){
                $("#seearch_error").css("display", "none");
            });
        {% endif %}
        {% if is_update %}
            $("#id_supplier_id").focus();
            $("#id_doc_dt").removeAttr("type");
            $("#id_doc_dt").datepicker();
            $("#id_supp_chal_dt").datepicker();

        {% endif %}

        {% if is_update %}
        url = "{{purchase_query.get_absolute_edit_url}}";
        {% else %}
        url = "/purchase/create/";
        {% endif %}
        saveUpdateMethod(url);
})
//end of document ready function
</script>
</html>
